.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 100px) 20px 20px;
    gap: 10px;

}
.box{
    background-color: gray;
}
#box11, #box12{
    grid-column: span 3;
}
#box1{
    grid-row: span 5;
}